.main {
  max-width: 1200px;
}

.link:hover{
    text-decoration: underline;
}

.info_container {
  padding-inline: 20px;
}

.info_container p {
    white-space: pre-wrap;
    line-height: 1.8;
    
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main {
    padding-inline: 20px;
  }
}
