html{
    min-height: 100vh;
}

Link {
    text-decoration: none;
}

a{
    color: var(--font-color);
    text-decoration: none;
}

div, section, a, h3{
    transition: background-color 0.3s ease-out, color 0.7s ease-in;
}
