.homepage_main {
  position: relative;
}

.summary_container {
  position: fixed;
  top: 30px;
  z-index: 1;
}

.overlay {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: var(--summary-h);
  padding-bottom: 10vh;

  background-color: var(--box-background);
}

@media (max-width: 600px) {
.summary_container {
    position: static;
}

.overlay {
    margin-top: 0;
}
}
